/*Style Sheet for etch-a-sketch */

* {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

body {
	height: 800px;
}

h1, #buttons {
	text-align: center;
	background-color: red; /* Remove! added for visualization */
}

#buttons button {
	font-size: 15px; 
	margin: 5px 35px;
	padding: 25px;
	border-radius: 20px;
}

#sketchOutline {
	width: 600px;
	height: 600px;
	border: solid black 5px;
	margin-left: auto;
	margin-right: auto;
}



/* buttons individual */

#start {
	background-color: #ffff00;
	color: red;
	border: none;
}
#reset {
	background-color: #808080;
	color: #000000;
	border: none;
}
#classicActive {
	background-color: #404040;
	color: #ffffff;
	border: none;
}

#colorfulActive {
	background-color: rebeccapurple;
	color: yellow;
	border: none;
}
#classicInactive, #colorfulInactive {
	background-color: #a6a6a6;
	color: #0d0d0d;
	border: none;
}


/* -------------------*/
.cell {
	float: left;
	box-sizing: border-box;
	border: solid black 1px;
}







